@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

*{
    font-family: 'Tinos', serif;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    background-color: #f2db14;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.calculator{
    background-color: rgba(38, 38, 38, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 35px;
    border-radius: 35px;
    width: 250px;
}

.textArea{
    margin: 5px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.count{
    width: 250px;
    min-height: 30px;
    text-align: right;
    color: white;
    font-size: 21px;
    word-wrap: break-word;
}

.answer{
    width: 250px;
    min-height: 60px;
    text-align: right;
    color: white;
    font-size: 40px;
    word-wrap: break-word;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 15px;
    column-gap: auto;
    z-index: 1;
    padding: 0px 0px 15px 0px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 5px 1px;
    color: white;
    background-color: hsl(0, 0%, 15%, 1);
    font-size: 13px;
    width: 40px;
    height: 40px;
    font-weight: 800;
    margin: 0px;
}

.number:hover, .plusMinus:hover {
    box-shadow: rgb(80, 191, 230) -2px -2px 10px 2px, rgb(80, 191, 230) 2px 2px 10px 2px;
}

.number:active, .plusMinus:active {
    box-shadow:rgb(80, 191, 230) inset -2px -2px 5px 1px, rgb(80, 191, 230) inset 2px 2px 5px 1px;
}

.operator:hover{
    box-shadow: rgb(102, 255, 102) -2px -2px 10px 2px, rgb(102, 255, 102) 2px 2px 10px 2px;
}

.operator:active{
    box-shadow: rgb(102, 255, 102)inset -2px -2px 5px 1px, rgb(102, 255, 102)inset 2px 2px 5px 1px;
}

.ac:hover, .bc:hover{
    box-shadow: rgb(255, 53, 94) -2px -2px 10px 2px,rgb(255, 53, 94) 2px 2px 10px 2px;
}

.ac:active, .bc:active{
    box-shadow: rgb(255, 53, 94)inset -2px -2px 5px 1px,rgb(255, 53, 94)inset 2px 2px 5px 1px;
}

.equal{
    background-color: rgb(221, 105, 105);
    width: 65px;
    height: 65px;
    font-weight: 800;
    font-size: 26px;
}

.equal:hover{
    background-color: rgb(102, 255, 102);
}

.equal:active{
    box-shadow: rgb(102, 255, 102) -2px -2px 10px 2px,rgb(102, 225, 102) 2px 2px 10px 2px;
}

.rectangle{
    background-color: black;
    width: 90px;
    height: 430px;
    transform: translate(100px, -15px);
    z-index: 0;
    margin-top: -470px;
    border-radius: 120px 0px 0px 120px;
}

.division, .multiplication, .subtraction, .addition{
    transform: translate(15px, 0px);
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    font-size:20px;
    background-color: #f2db14;
}

.github{
    width: 25px;
    height: 25px;
}